[submodule "deps/SFML"]
	path = deps/SFML
	url = https://github.com/SFML/SFML.git
	ignore = dirty

[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/zakrent/imgui-sfml.git
	ignore = dirty

[submodule "deps/SFGUI"]
	path = deps/SFGUI
	url = https://github.com/zakrent/SFGUI.git
	ignore = dirty

